@model IEnumerable<GoogleDrive.Models.DriveFile>

<table class="table" id="@ViewData["id"]">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileID)
        </th>
        <th colspan="2" style="text-align: center;">Tracking</th>
    </tr>

    @foreach (var item in Model) {
        @Html.Partial("_Entry", item, new ViewDataDictionary { { "Type", @ViewData["id"] } })
    }

</table>