@model IEnumerable<MvcVanced.Models.APK>

@{
    var apkType = ViewBag.Type;
    List<MvcVanced.Models.APK> publics = null;
    List<MvcVanced.Models.APK> betas = null;
    var permission = Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Tester"));
    switch (apkType) {
        case APKTYPE.NONROOT:
            ViewBag.Title = "Non-Root";
            publics = Model.Where(x => (x.Type == APKTYPE.NONROOT)).ToList();
            betas = Model.Where(x => (x.Type == APKTYPE.NONROOT_BETA)).ToList();
            break;
        case APKTYPE.ROOT:
            ViewBag.Title = "Rooted";
            publics = Model.Where(x => (x.Type == APKTYPE.ROOT)).ToList();
            betas = Model.Where(x => (x.Type == APKTYPE.ROOT_BETA)).ToList();
            break;
        case APKTYPE.MAGISK:
            ViewBag.Title = "Magisk";
            publics = Model.Where(x => (x.Type == APKTYPE.MAGISK)).ToList();
            betas = Model.Where(x => (x.Type == APKTYPE.MAGISK_BETA)).ToList();
            break;
    }
    if (!permission || User.IsInRole("Tester")) {
        publics = publics.Where(x => x.Public == true).ToList();
        betas = betas.Where(x => x.Public == true).ToList();
    }
}

<div class="jumbotron">
    <h1>Downloads</h1>
    <p class="lead">The official downloads of YouTube Vanced</p>
</div>

@if (Request.IsAuthenticated && User.IsInRole("Admin")) {
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@{
    if (ViewBag.Title == "Rooted") {
        <h2>Installer files</h2>
        <p><a class="btn btn-default" href="https://drive.google.com/drive/folders/1x67EYgPeLLSVzRfZyeLRCeWmbF-fUggd?usp=sharing">Download »</a></p>
    }
    if (ViewBag.MicroG != null) {
        <h2>MicroG download</h2>
        <div class="microg">
            @Html.Partial("_Entries", (List<MvcVanced.Models.APK>)ViewBag.MicroG, new ViewDataDictionary { { "id", "microg" } })
        </div>
    }
}

<h2>@ViewBag.Title downloads</h2>
<div class="public">
    @Html.Partial("_Entries", publics, new ViewDataDictionary { { "id", "public" } })
</div>

@{
    if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Tester"))) {
        if (betas != null) {
            <h2>@ViewBag.Title beta downloads</h2>
            <div class="beta">
                @Html.Partial("_Entries", betas, new ViewDataDictionary { { "id", "beta" } })
            </div>
        }
    }
}

@section scripts {
    <script>
        //$("#button-id").click(function () {
        $("table").on('click', '#button-id', function (evt) {
            var url = $(this).data("url");
            var $this = $(this).find("label");
            if (!$this.hasClass('active')) {
                $this.text("Public");
            }
            else {
                $this.text("Offline");
            }
            $.get(url, function (result) {
                //do something with the result if you ever need to

            });
        });
    </script>
}